<div class="panel panel-<%= random_bootstrap_color %> promotion">
  <div class="panel-heading" id="head">
    <div class="shape">
      <% if promotion.discount %>
        <div class="shape-text">
          <%= number_to_percentage(promotion.discount, precision: 0) %>
        </div>
      <% end %>
    </div>
    <div class="panel-title" id="title">
        <%= link_to promotion.store.name.titleize, promotion.store %><br>
        <span class="hidden-xs"><%= link_to promotion.name.titleize.truncate(115), promotion %></span>
        <span class="visible-xs"><%= link_to promotion.name.titleize.truncate(115), promotion %></span>
    </div>
  </div>
  <div class="panel-body">
    <img src=<%= promotion.image_url %> class="promotion-img img-rounded">
  </div>
  <div class="panel-footer">
    <div class="promotion-code">
        <h5><b>De <%= number_to_currency(promotion.price_from) %> por <%= number_to_currency(promotion.price_to) %></b></h5>
        <p>Enviado por <%= link_to promotion.user.name.titleize, promotion.user %></p>
    </div>
    <% if promotion.end_at? %>
      <div class="exp">Expira em: <%= promotion.end_at.to_s(:long) %></div>
    <% end %>
    <a href=<%= promotion.url %> role="button" class="btn btn-success center-block">Comprar já!</a>
    <% if current_user.try(:admin?) %>
      <br>
      <%= link_to "Editar", edit_promotion_path(promotion) %> |
      <%= link_to "Excluir", promotion, method: :delete, data: { confirm: 'Você tem certeza?' } %>
    <% end %>
  </div>
</div>
