<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="form-signin-heading">Editar Usuário</h2>
  <div class: "sr-only">
    <%= f.label :username %><br />
    <%= f.email_field :username, class: "form-control", disabled: true %>
  </div>
  <div class: "sr-only">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", disabled: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Senha" %> <i>(deixe em branco caso não queira alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Confirmação de senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Senha corrente" %> <i>(nós precisamos de sua senha corrente para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar", class: "btn btn-lg btn-primary btn-block"%> <hr/>
  </div>

  <h3>Cancelar minha conta</h3>

  <p>Infeliz? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Esse processo é irreversível? Você tem certeza?" }, method: :delete %></p>

<% end %>
