<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
<ul id="login-dp" class="dropdown-menu">
<li>
   <div class="row">
      <div class="col-md-12">
        Login via
        <div class="social-buttons">
          <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
          <!-- <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a> -->
        </div>
                        or
         <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
            <div class="form-group">
               <label class="sr-only" for="exampleInputEmail2">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
            </div>
            <div class="form-group">
               <label class="sr-only" for="exampleInputPassword2">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                     <div class="help-block text-right"><a href="">Forget the password ?</a></div>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="checkbox">
                 <label>
                 <input type="checkbox"> Lembrar-me
                 </label>
              </div>
            <% end %>
         </form>
      </div>
      <div class="bottom text-center">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          Novo aqui ? <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        <% end -%>
      </div>
   </div>
</li>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Por favor, logue-se</h2>

  <hr>

  <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook" do %>
    <span class="fa fa-facebook"></span> Entrar com Facebook
  <% end %>

  <!--
  <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Entrar com Twitter
  </a>
  -->

  <hr>

  <%= f.label :email, class: "sr-only" %>
  <%= f.email_field :email, class: "form-control", placeholder: "Email Adress", autofocus: true, required: true %>

  <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off", required: true %>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label 'Lembrar-me' %>
    </div>
  <% end -%>
  <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %> <hr/>
  <%= render "devise/shared/links" %>
<% end %>
