<div class="page-header">
  <%= link_to new_store_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova loja
  <% end %>
  <h1>Listando as lojas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Store</th>
            <th>Description</th>
            <th>Twitter</th>
            <th>Logo url</th>
            <th>Url</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @stores) do |store| %>
            <td><%= store.name %></td>
            <td><%= store.description.try(:truncate?) ? store.description.truncate(35) : store.description %></td>
            <td><%= store.twitter %></td>
            <td><%= store.logo_url.try(:truncate?) ? store.logo_url.truncate(27) : store.logo_url %></td>
            <td><%= store.url.try(:truncate?) ? store.url.truncate(27) : store.url %></td>
            <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
