<div class="row page-header">
  <div class="col-md-6">
    <h3><%= @store.name.titleize %></h3>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= render 'shared/security/edit', path: edit_store_path(@store) if is_admin? %>
      <%= render 'shared/security/delete', item: @store if is_admin? %>
    </div>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Store:</dt>
  <dd><%= @store.name %></dd>

  <dt>Description:</dt>
  <dd><%= @store.description %></dd>

  <dt>Twitter:</dt>
  <dd><%= @store.twitter %></dd>

  <dt>Logo url:</dt>
  <dd><%= @store.logo_url %></dd>

  <dt>Url:</dt>
  <dd><%= @store.url %></dd>

</dl>

  <%= render "shared/comments", comments: @comments, new_comment: @new_comment %>
