<div class="page-header">
  <% if is_logged_user(@user) %>
    <%= link_to edit_user_registration_path(@user), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>Editar
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well profile">
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="img-circle" src=<%= @user.image_url%> />
          <!-- badge -->
          <div class="rank-label-container">
            <span class="label label-default rank-label">100 puntos</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-xs-12">
          <h2><%= @user.name %></h2>
          <p><strong>Sobre: </strong> Web Designer / UI. </p>
          <p><strong>Email: </strong> <%= @user.email %></p>
          <p><strong>Tags: </strong>
            <span class="tags">celulares</span>
            <span class="tags">tvs</span>
            <span class="tags">roupas</span>
          </p>
        </div>
      </div>
        <div class="btn-group dropup btn-block center-block">
            <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu text-left" role="menu">
              <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
              <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
              <li class="divider"></li>
              <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
            </ul>
          </div>
      <div class="col-xs-12 divider text-center">
        <div class="col-xs-12 col-sm-4 emphasis">
              <h2><strong> 0 </strong></h2>
              <p><small>Seguidores</small></p>
            <!--
            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
          -->
        </div>
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong>0</strong></h2>
          <p><small>Pontos</small></p>
            <!--
            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
          -->
        </div>
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong>0</strong></h2>
          <p><small>Ofertas & Cupons</small></p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- O RESTO -->
  </div>
</div>

<div class="row">
  <%= render 'shared/activities' %>
</div>
