<%= form_for(@coupon, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @coupon.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h4> <!-- TODO -->

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nome", class: "col-sm-2 control-label", title: "Nome do cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Descrição", class: "col-sm-2 control-label", title: "Descrição para ativar o cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_area :description, rows: 3, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Código", class: "col-sm-2 control-label", title: "Código do cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_field :code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "URL", class: "col-sm-2 control-label", title: "URL da página do cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_area :url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Termina em', class: "col-sm-2 control-label", title: "Dia do término da validade do cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_field :end_at, class: "form-control", data: { provide: 'datepicker' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "URL das Regras", class: "col-sm-2 control-label", title: "Link das regras do cupom", data: { toggle: "tooltip", placement: "below" } %>
    <div class="col-sm-10">
      <%= f.text_area :rules_url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.collection_select :store_id, Store.all, :id, :name, {prompt: 'Por favor selecione a loja do cupom'}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
