<div class="page-header">
  <%= link_to new_coupon_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Cupom
  <% end %>
  <h1>Todos os Cupons</h1>
</div>

<% @coupons.each_slice(3) do |coupons| %>
  <div class="row">
  <% coupons.each do |coupon| %>
    <div class="col-md-4">
        <div class="panel panel-<%= random_bootstrap_color %> coupon">
          <div class="panel-heading" id="head">
            <div class="panel-title" id="title">
                <a href="#">Submarino</a>
                <span class="hidden-xs"><%= link_to coupon.name.titleize, coupon %></span>
                <span class="visible-xs"><%= link_to coupon.name.titleize, coupon %></span>
            </div>
          </div>
          <div class="panel-footer">
            <div class="coupon-code">
                Código: <%= coupon.code %>
                <span class="print">
                    <a href="#" class="btn btn-link" onclick="PrintElem('#mydiv')"><i class="fa fa-lg fa-print"></i> Imprimir Coupon</a>
                </span>
            </div>
            <div class="exp">Expira em: <%= coupon.end_at.to_s(:long) %></div>
            <% if coupon.rules_url? %>
              <div class="exp">Regras: <a href=<%= coupon.rules_url %> >Regras</a></div>
            <% end %>
            <% if current_user.try(:admin?) %>
              <br>
              <%= link_to "Editar", edit_coupon_path(coupon) %> |
              <%= link_to "Excluir", coupon, method: :delete, data: { confirm: 'Você tem certeza?' } %>
            <% end %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
<% end %>

<div class="col-md-9 col-md-offset-4">
  <%= will_paginate @coupons, renderer: BootstrapPagination::Rails %>
</div>