<div class="statistics">
  <% if user_signed_in? %>
    <%= link_to resource_to_friendly_link(item) + '/love', method: :put, remote: :true, class:"no-anchor-css" do %>
      <i class="fa fa-lg fa-clickable <%= love_class(item) %>"></i>
    <% end %>
  <% else %>
    <i class="fa fa-heart-o fa-lg"></i>
  <% end %>
  <span class="loves"><%= item.cached_votes_total %></span> -

  <%= link_to resource_to_friendly_link(item) + '#comments', class:"no-anchor-css" do %>
    <i class="fa fa-comments-o fa-lg fa-clickable"></i>
  <% end %> <span><%= item.comments.count %></span> -

  <i class="fa fa-eye fa-lg"></i> <span><%= item.impressions_count %></span>

</div>
