<h1>Contate o <%= Rails.application.config.app_name %>!</h1>

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="row clearfix">
			<div class="col-md-6 column">
				<%= form_tag() do %>
						<div class="form-group">
							<%= label_tag(:email, "E-mail") %>
				    	<%= text_field_tag :email, 	current_user.try(:email) , { class: "form-control", disabled: signed_in? } %>
				    	<br/>
				    	<%= label_tag(:title, "Título") %>
				    	<%= text_field_tag :title, 	current_user.try(:title) , { class: "form-control" } %>
				    	<br/>
				    	<%= label_tag(:msg, "Mensagem") %>
				    	<%= text_area_tag :msg, "", {rows: 8, class: "form-control"} %>
				  	</div>
				    <%= submit_tag "Enviar", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
			<div class="col-md-6 column">
				<address>
					<strong><%= Rails.application.config.app_name %>!</strong><br>
					Av. Antonio Serafin Petean<br> Pedreira, SP 590<br>
					<abbr title="Telefone">Tel:</abbr>
					(19) 99206-1233
				</address>
				<div class="carousel slide" id="carousel-13587">
					<ol class="carousel-indicators">
						<li data-slide-to="0" data-target="#carousel-13587">
						</li>
						<li data-slide-to="1" data-target="#carousel-13587">
						</li>
						<li data-slide-to="2" data-target="#carousel-13587" class="active">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item">
							<img alt="" src="http://lorempixel.com/1000/300/business/1" />
							<div class="carousel-caption">
								<h4>
									Trabalhamos por você
								</h4>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam.
								</p>
							</div>
						</div>
						<div class="item">
							<img alt="" src="http://lorempixel.com/1000/300/business/2" />
							<div class="carousel-caption">
								<h4>
									Trabalhamos com você
								</h4>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam.
								</p>
							</div>
						</div>
						<div class="item active">
							<img alt="" src="http://lorempixel.com/1000/300/business/3" />
							<div class="carousel-caption">
								<h4>
									Trabalhamos por você
								</h4>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam.
								</p>
							</div>
						</div>
					</div> <a class="left carousel-control" href="#carousel-13587" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-13587" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
