<div class="panel panel-<%= random_bootstrap_color %> coupon">
  <div class="panel-heading" id="head">
    <div class="panel-title" id="title">
        <%= link_to coupon.store.name.titleize, coupon.store %>
        <span class="hidden-xs"><%= link_to coupon.name.titleize, coupon %></span>
        <span class="visible-xs"><%= link_to coupon.name.titleize, coupon %></span>
    </div>
  </div>
  <div class="panel-footer">
    <div class="coupon-code">
        Código: <%= coupon.code %>
        <span class="print">
            <a href="#" class="btn btn-link" onclick="PrintElem('#mydiv')"><i class="fa fa-lg fa-print"></i> Imprimir Coupon</a>
        </span>
    </div>
    <div class="exp">Expira em: <%= coupon.end_at.to_s(:long) %></div>
    <% if coupon.rules_url? %>
      <div class="exp">Regras: <a href=<%= coupon.rules_url %> >Regras</a></div>
    <% end %>
    <% if current_user.try(:admin?) %>
      <br>
      <%= link_to "Editar", edit_coupon_path(coupon) %> |
      <%= link_to "Excluir", coupon, method: :delete, data: { confirm: 'Você tem certeza?' } %>
    <% end %>
  </div>
</div>