<div id="<%= coupon.id %>" class="panel panel-<%= random_bootstrap_color %> coupon">
  <div class="panel-heading" id="head">
    <div class="panel-title" id="title">
        <%= link_to coupon.store.name.titleize, coupon.store %><br>
        <span class="hidden-xs"><%= link_to coupon.name.titleize.truncate(115), coupon %></span>
        <span class="visible-xs"><%= link_to coupon.name.titleize.truncate(115), coupon %></span>
    </div>
  </div>
  <% if coupon.description %>
    <div class="panel-body">
      <div class="col-md-9">
        <p><%= coupon.description %></p>
      </div>
    </div>
  <% end %>
  <div class="panel-footer">
    <div class="coupon-code">
      <h5>Código: '<b><%= coupon.code %></b>'</h5>
      <div class="exp"><%= coupon.end_at.to_s(:expire) %></div>
      <p>Enviado por <%= link_to coupon.user.name_or_username.titleize, coupon.user %></p>
      <%= render 'shared/statistics', item: coupon %>
    </div>
    <a href=<%= coupon.url %> role="button" class="btn btn-success center-block">Aplicar Cupom!</a>
    <% if coupon.rules_url? %>
      <div class="exp">Regras: <a href=<%= coupon.rules_url %> >Regras</a></div>
    <% end %>
    <% if current_user.try(:admin?) %>
      <br>
      <%= link_to "Editar", edit_coupon_path(coupon) %> |
      <%= link_to "Excluir", coupon, method: :delete, data: { confirm: 'Você tem certeza?' } %>
    <% end %>
  </div>
</div>
