<div class="page-header">
  <%= link_to new_promotion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Promoção
  <% end %>
  <h1>Listando as promoções</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>External</th>
            <th>Image url</th>
            <th>Discount</th>
            <th>Price from</th>
            <th>Price to</th>
            <th>Price billet</th>
            <th>Url</th>
            <th>Enabled</th>
            <th>Affiliate</th>
            <th>Begin at</th>
            <th>End at</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @promotions) do |promotion| %>
            <td><%= promotion.name.truncate(35) %></td>
            <td><%= promotion.description.try(:truncate?) ? promotion.description.truncate(35) : nil %></td>
            <td><%= promotion.external_id %></td>
            <td><%= promotion.image_url.truncate(35) %></td>
            <td><%= promotion.discount %></td>
            <td><%= promotion.price_from %></td>
            <td><%= promotion.price_to %></td>
            <td><%= promotion.price_billet %></td>
            <td><%= promotion.url.truncate(35) %></td>
            <td><%= promotion.enabled %></td>
            <td><%= promotion.affiliate %></td>
            <td><%= promotion.begin_at %></td>
            <td><%= promotion.end_at %></td>
            <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>