<!-- http://bootsnipp.com/snippets/featured/css-promotions -->
<div class="row page-header">
  <div class="col-md-6">
    <h3><%= @promotion.name.titleize %></h3>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= render 'shared/security/edit', item: @promotion, path: edit_promotion_path(@promotion) %>
      <%= render 'shared/security/delete', item: @promotion %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "promotions/shared/promotion", promotion: @promotion %>
  </div>
  <%= render "shared/comments", comments: @comments, new_comment: @new_comment %>
</div>
